*.pydevproject
.metadata
*.tmp
*.bak
*.swp
*.jar
*~.nib
local.properties
#.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse
*.class
.mtj.tmp/
*.war
*.ear
*.iml
#.project
#.classpath
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sdk.properties
launcher.properties
/sdk/src/com/constellio/DeveloperTestSuite.*
rebel.xml
rebel-remote.xml
logo_eimUSR
jarProject
# Folders
build/
tmp/
sdk/data/
/bin
/sdk/work
/sdk/work-*
/temp-test
/sdk/snapshots
/sdk/turboCache
/sdk/temp-test
/sdk/sdkpasswords_user.properties
*/bin/
.gradle/
tools/gradle/
/sdk/constellio.log*
/sdk/generatedReports
/constellio.log*
/conf/constellio.properties
/conf/local-configs.properties
/conf/license.xml
/sdk/src/main/webapp/VAADIN
/app/src/main/webapp/VAADIN
/data/src/com/constellio/data/test/ZeStamp.java
/conf/settings/
benckmarks/
!*/libs/*.jar
!/libs/*.jar
!/connectors/*/libs/*.jar
!wrapper_5/gradle/wrapper/gradle-wrapper.jar
/.idea
.benchmarks.mv.db
.DS_Store
*/out
/sdk/src/com/intelligid/DeveloperTestSuite.*
/sdk/intelligid.log*
/intelligid.log*
/conf/intelligid.properties
/temp
/sdk/constellio-dao-contents
*.log
/app/src/main/resources/com/constellio/app/ui/application/widgetset/
/client/packaging/Constellio Desktop Agent Configuration-cache/
/client/packaging/Constellio Desktop Agent-cache/
/caches
/daemon
app/ivy.xml
app/ivysettings.xml
app/WebContent/VAADIN/themes/constellio/jquery/addons.scss
app/WebContent/VAADIN/themes/constellio/inputmask/addons.scss
/out
*/out/
Supprimerait app/WebContent/WEB-INF/lib/
Supprimerait sdk/ConfigurationRoot/
/app/src/com/constellio/app/ui/application/widgetset/AppWidgetset.gwt.xml
/version