<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <RollingFile name="file" fileName="constellio.log" filePattern="constellio.log.%i">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
        <RollingFile name="restapi" fileName="logs/restapi.log" filePattern="restapi.log.%i">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
        <RollingFile name="cmis" fileName="logs/cmisapi.log" filePattern="cmisapi.log.%i">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
        <RollingFile name="es" fileName="logs/es.log" filePattern="es.log.%i">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <sizebasedtriggeringpolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
        <Logger name="com.constellio.app.modules.restapi" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="restapi"/>
        </Logger>
        <Logger name="com.constellio.app.api.cmis" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="cmis"/>
        </Logger>
        <Logger name="com.constellio.app.modules.es" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="es"/>
        </Logger>
        <Logger name="org.jasig.cas" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Logger>
    </Loggers>
</Configuration>