<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>VaadinServlet</servlet-name>
        <servlet-class>
            com.constellio.app.ui.application.ConstellioVaadinServlet
        </servlet-class>

        <init-param>
            <param-name>UI</param-name>
            <param-value>com.constellio.app.ui.application.ConstellioUI</param-value>
        </init-param>
        <init-param>
            <description>
                Application widgetset
            </description>
            <param-name>widgetset</param-name>
            <param-value>com.constellio.app.ui.application.widgetset.AppWidgetset</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
        <listener-class>org.apache.chemistry.opencmis.server.impl.CmisRepositoryContextListener</listener-class>
    </listener>

    <!--
    <listener>
        <listener-class>com.constellio.app.servlet.ConstellioWSServletContextListener</listener-class>
    </listener>
    -->

    <!--
         A servlet filter that logs all requests in files. Useful for monitoring and debugging.
         Use it with care! It can generate a huge amount of files and will slow down performance
         significantly.
    -->
    <!--
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>org.apache.chemistry.opencmis.server.support.filter.LoggingFilter</filter-class>
        <init-param>
            <param-name>LogDir</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>PrettyPrint</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>LogHeader</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>Indent</param-name>
            <param-value>4</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <servlet-name>cmisatom10</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <servlet-name>cmisatom11</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <servlet-name>cmisws10</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <servlet-name>cmisws11</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <servlet-name>cmisbrowser</servlet-name>
    </filter-mapping>
    -->

    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
        <init-param>
            <param-name>mimeTypes</param-name>
            <param-value>
                text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml,application/x-javascript
            </param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>TenantFilter</filter-name>
        <filter-class>com.constellio.app.api.admin.services.TenantFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>serviceMonitoring</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioMonitoringServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ping</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioPingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>cmisws10</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioCmisWebServicesServlet</servlet-class>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>cmisws11</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioCmisWebServicesServlet</servlet-class>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>cmisatom10</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioCmisAtomPubServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>cmisatom11</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioCmisAtomPubServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>cmisbrowser</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioCmisBrowserBindingServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioServletContainer</servlet-class>
        <!--         Register resources and providers under com.constellio.app.api.admin.services package. -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.constellio.app.api.admin.services</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.TracePerRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Search Service</servlet-name>
        <servlet-class>com.constellio.app.api.search.SearchWebService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Create record Service</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioCreateRecordServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>Generate token Service</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioGenerateTokenWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>Get schema metadatas Service</servlet-name>
        <servlet-class>com.constellio.app.servlet.ConstellioGetSchemaMetadatasServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>
            com.constellio.app.ui.application.DownloadServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PingSystemManagementWebService</servlet-name>
        <servlet-class>
            com.constellio.app.api.systemManagement.services.PingSystemManagementWebService
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Benchmark Service</servlet-name>
        <servlet-class>com.constellio.app.api.benchmarks.BenchmarkWebService</servlet-class>
        <init-param>
            <param-name>numberOfRootCategories</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfLevel1Categories</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfLevel2Categories</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfRootRubrics</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfLevel1Rubrics</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfLevel2Rubrics</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfAdministrativeUnits</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfLevel1AdministrativeUnits</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfLevel2AdministrativeUnits</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>numberOfFolders</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>contentSamples</param-name>
            <param-value>C:\constellio-eim-samples</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--<servlet>-->
    <!--<servlet-name>ConfigAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.ConfigAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>AuthenticateAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.AuthenticateAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>CheckInAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.CheckInAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>CompareContentAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.CompareContentAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>GetCheckedOutDocumentsAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.GetCheckedOutDocumentsAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>GetCollectionLabelsAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.GetCollectionLabelsAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>GetContentAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.GetContentAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>GetLatestVersionInfoAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.GetLatestVersionInfoAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>GetLatestVersionJarAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.GetLatestVersionJarAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>GetUserDocumentsAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.GetUserDocumentsAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>ImportFileAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.ImportFileAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>SendLogsAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.SendLogsAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>ServerStatusAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.ServerStatusAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>UpdateContentAgentServlet</servlet-name>-->
    <!--<servlet-class>com.constellio.app.modules.rm.agent.services.UpdateContentAgentServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>TenantFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>serviceMonitoring</servlet-name>
        <url-pattern>/serviceMonitoring/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ping</servlet-name>
        <url-pattern>/ping/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VaadinServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cmisws10</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cmisws11</servlet-name>
        <url-pattern>/services11/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cmisatom10</servlet-name>
        <url-pattern>/atom/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cmisatom11</servlet-name>
        <url-pattern>/atom11/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cmisbrowser</servlet-name>
        <url-pattern>/browser/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Search Service</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Create record Service</servlet-name>
        <url-pattern>/createRecord</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Generate token Service</servlet-name>
        <url-pattern>/generateToken</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Benchmark Service</servlet-name>
        <url-pattern>/benchmark</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Get schema metadatas Service</servlet-name>
        <url-pattern>/getSchemaMetadatas</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/dl/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ping</servlet-name>
        <url-pattern>/systemManagement/ping</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
    <!--<servlet-name>AuthenticateAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/authenticate</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>CheckInAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/checkIn</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>CompareContentAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/compareContent</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>ConfigAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/config</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>GetCheckedOutDocumentsAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/getCheckedOutDocuments</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>GetCollectionLabelsAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/getCollectionLabels</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>GetContentAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/getContent</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>GetLatestVersionInfoAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/getLatestVersionInfo</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>GetLatestVersionJarAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/getLatestVersionJar</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>GetUserDocumentsAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/getUserDocuments</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>ImportFileAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/importFile</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>SendLogsAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/sendLogs</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>ServerStatusAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/serverStatus</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>UpdateContentAgentServlet</servlet-name>-->
    <!--<url-pattern>/agent/updateContent</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
